 <div class="user">
    <div class="user-profile">
        <p>
            <%= @user %>
        </p>
        <p>
            <%= @user_belong %><%= @user_grade %>年
        </p>
    </div>
    <div class="user-progress">
        <p>
            <%= @user_progress[0] %>%
        </p>
        <p>
            section<%= @user_progress_section[0] %>
        </p>
    </div>
</div>

<div class="detail">
    <div>
        <p>
            all:<%=  @user_progress_all %>%
        </p>
        <p>
            rank:<%=  @user_rank_all %>/<%=  @all_user_number %>
        </p>
    </div>

    <div class="next-test">    
        <p>次のテスト範囲</p>
        <p>
            <%= @next_test_range_head %>〜<%= @next_test_range_tail %>
        </p>
        <p>
            あと<%=  @next_test_limit %>日
        </p>    
    </div>

    <div class="section">　<!--クラス名を"progress"にするとcssが適用される-->
        <h1>全体の進捗</h1>
        <ul>
            <% for i in 1..5 do %>
                <li>
                    <div class="section-status">
                        <p>
                            section<%=i%>
                        </p>
                        <p>
                            rank:<%=  @user_rank[i-1] %>/<%=  @all_user_number %>
                        </p>
                        <p>
                            Average:<%=  @user_average[i-1] %>%
                        </p>
                        <p>
                            <%= @user_progress[i-1] %>%
                        </p>
                    </div>
                </li>  
            <% end %>
        </ul>
    </div>
</div>
